{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{% url 'home' %}">Home</a><span class="mx-2 mb-0">/</span>
        <a href="{% url 'cart:summary' %}" class="text-black">Cart</a
        ><span class="mx-2 mb-0">/</span>
        <strong class="text-black">Payment</strong>
      </div>
    </div>
  </div>
</div>
  <div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="paymentInfo">
            <h4>Select a payment method</h4>
            <div id="button-container"></div>
            <a 
              class="btn btn-outline-success mb-3 mt-3"
              href="{% url 'cart:thank-you' %}"
              role="button"
              id="alertSuccess"
            >
              Your payment was successful.
            </a>
            <input
              class="btn btn-outline-danger mb-3"
              type="button"
              id="alertFailure"
              value="Your payment failed. Please try again."
              onclick="showMessage()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 
{% block scripts %}
<script>
  function showMessage() {
    alert("Your payment failed. Please try again.");
  }
</script>

{% endblock scripts %}
