{% extends "base.html" %} {% load static %} {% block content %}

<div
  class="site-blocks-cover"
  style="background-image: url(static/images/clothes.jpeg)"
  data-aos="fade"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5 pt-md-0"></div>
    </div>
  </div>
</div>
<div class="site-section site-section-sm site-blocks-1">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4"
        data-aos="fade-up"
        data-aos-delay=""
      ></div>
      <div class="card-group">
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Tops%20and%20Tees"><img
              class="card-img-top"
              src="static/images/tops.jpeg"
              alt="Tops" 
            />
          </button>
            <div class="card-body">
              <h5 class="card-title">Tops and Tees</h5></a>
              <p class="card-text">
                100% Cotten and Substainable. Don't like it? Worry-Free Returns
                and Exchanges.
              </p>
          </div>
        </div>
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Pants"><img
            class="card-img-top"
            src="static/images/pants.jpeg"
            alt="Pants"
            />
          </button>
          <div class="card-body">
            <h5 class="card-title">Pants</h5></a>
            <p class="card-text">
              Comfort and Stylish. We aim to deliver on all your needs.
            </p>
          </div>
        </div>
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Shoes"><img
            class="card-img-top"
            src="static/images/shoes.jpeg"
            alt="Shoes"
            />
          </button>
          <div class="card-body">
            <h5 class="card-title">Shoes</h5></a>
            <p class="card-text">
              Walk a Mile, Run a Marathon. Our reliable shoes don't disappoint.
            </p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Coats%20and%20Jackets"><img
              class="card-img-top"
              src="static/images/coats.jpeg"
              alt="Coats"
            />
          </button>
          <div class="card-body">
            <h5 class="card-title">Coats and Jackets</h5></a>
            <p class="card-text">
              Keeps you warm even in the coldest of days. Light and Airy as
              well.
            </p>
          </div>
        </div>
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Activewear"><img
            class="card-img-top"
            src="static/images/activewear.jpeg"
            alt="Activewear"
            />
          </button>
          <div class="card-body">
            <h5 class="card-title">Activewear</h5></a>
            <p class="card-text">
              Skin-tight Comfort. Wear it to the gym or the couch. We don't
              judge.
            </p>
          </div>
        </div>
        <div class="card">
          <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <a href="cart/shop/?category=Sleepwear"><img
            class="card-img-top"
            src="static/images/sleepwear.jpeg"
            alt="Sleepwear"
            />
          </button>
          <div class="card-body">
            <h5 class="card-title">Sleepwear</h5></a>
            <p class="card-text">
              Fluffy and Cozy. A Good Night Rest is Guaranteed.
            </p>
          </div>
        </div>
      </div>
      {% endblock content %}
    </div>
  </div>
</div>
